[run]
omit =
    meta_blocks/version.py
    # omit optimizers (will be updated)
    meta_blocks/optimizers/__init__.py
    # omit currently unused modules
    meta_blocks/samplers/utils.py
    # omit run scripts
    meta_blocks/experiment/run.py
